@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

I am wirting this mostly to express that I am not trying to do any interesting shit for this lab since its already late 
but also because why would I... the focus is on terraform, not the code. Lia starts in 2 and an half weak and I have my
last lab that is my group project that I need to be up early in the morning for so I just want to get this done.
